/* 
COLOR PALLETE
#F7FFF7 - almost white
#343434 - dark gray - almost black
#2F3061 - blue dark
#FFE660 - yellow
#A1C6D7 - blue light
 */


/* Global styles 
-----------------------------------*/
body {
    color: #343434;
}

img {
    width: 300px;
}

a {
    color: #FFE660;
}

a:hover {
    text-decoration: none;
}


/* Profile
-----------------------------------*/
header {
    background-color: #2F3061;
    color: #F7FFF7;
}


/* Profile
-----------------------------------*/
.projects {
    background-color: #F7FFF7;
}

.projects a {
    color: #2F3061;
}

.projects .btn {
    color: #F7FFF7;
    background-color: #2F3061;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
}

.projects .btn:hover {
    background-color: rgba(47, 48, 97, 80%);
}


/* Work Ecperience
-----------------------------------*/
.work-experience {
    background-color: #A1C6D7;
}


/* Education
-----------------------------------*/


/* Contact Info
-----------------------------------*/
footer {
    background-color: #343434;
    color: #F7FFF7;
}